*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{

    background-color:#b7e7df;
}
.container{
    width: 1200px;
    margin: auto;
}
header .container nav{
    width: 1200px;
    height: 65px;
    background-color:#39D1B4;
    margin:auto;
    margin-top: 50px;
    text-align: center;
    line-height: 65px;
    color: #fff;
}
.hero{
    width: 100%;
    height: 450px;
    background-color: grey;
    margin-top: 28px;
    font-size: 40px;
    color: #fff;
    text-align: center;
    line-height: 450px;
}

.body .row .col-12{
    width: 100%;
}
.body .row .col-12 p{
    height: 80px;
    background-color: #39D1B4;
    margin: 25px 0;
    text-align: center;
    line-height: 80px;
    color:#fff;
}
.body .row{
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
}
.body .row .col-4{
    width: calc( 100% / 3  - 20px);
}
.body .row .col-4 .card{
    height: 300px;
    background-color: red;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.body .row .col-4 .card-title{
    height: 150px;
    background-color: #39D1B4;
    margin: 28px 0;
    display: flex;
    color: #fff;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}